DEV_MODE=True

BOT_TOKEN_DEV=x
BOT_TOKEN_PROD=x

REQUESTS_COLLECTION_DEV=dev requests collection
REQUESTS_COLLECTION_PROD=prod requests collection
METADATA_COLLECTION_DEV=dev metadata collection
METADATA_COLLECTION_PROD=prod metadata collection

PATREON_ROLE_DEV=The discord role given to patreon supporters in dev
PATREON_ROLE_PROD=The discord role given to patreon supporters in prod
